extends layout

block content
  div(class='container')
    div(class='row header')
      div(class='col-md-9')
        h1 Posts
        each post in posts
          div(class='post')
            p: a(href='/post/#{post.id}')= post.name
          hr
      div(class='col-md-3 sidebar')
        a(class='btn btn-primary btn-lg btn-block', href='#', role='button') Home
        a(class='btn btn-default btn-lg btn-block', href='/new', role='button') New Post
        a(class='btn btn-default btn-lg btn-block', href='/tags', role='button') Tags
    div(class='footer row')
      if currentUser
        div(class='col-md-11')
          p Logged in as: #{currentUser.username}
        div(class='col-md-1')
          p: a(href='/logout') Log Out
      else
        div(class='col-md-11')
          p: a(href='/login') Log In
        div(class='col-md-1')
          p: a(href='/signup') Sign Up