extends layout

block content
  div(class='container')
    div(class='row header')
      div(class='col-md-9')
        h1 #{title}
        form(method='post')
          div(class='form-group')
            label(for='username') Username
            input(type='text' id='username' name='username' class='form-control')
          div(class='form-group')
            label(for='password') Password
            input(type='password' id='password' name='password' class='form-control')
          div(class='form-group')
            input(type='submit' value='Log In' class='btn btn-primary')
      div(class='col-md-3 sidebar')
        a(class='btn btn-default btn-lg btn-block', href='/', role='button') Home
        a(class='btn btn-default btn-lg btn-block', href='/new', role='button') New Post
        a(class='btn btn-default btn-lg btn-block', href='/tags', role='button') Tags
        
