extends layout

block content
  h1 New Post
  form(method="post")
    div
      label Title
      input(type="text", name="title")
    div
      label Content
      textarea(name="content")
    div
      input(type="submit")
      
      
